<table class="table">
  <thead>
  <tr>
    <th class="h4">タスク</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task %></td>
      <td>
        <%= link_to '編集', task_edit_path(task) %>
      </td>
      <td>
        <%= link_to '削除', task_delete_path(task),
                    method: :delete,
                    data: {confirm: '本当に削除しますか？'} %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table> 
